*.log
*.pot
*.pyc
__pycache__/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pyenv.cfg
.venv
pip-selfcheck.json
staticfiles
local_settings.py
db.sqlite3
*.csv
hilty.sublime-project
hilty.sublime-workspace
